<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" id="login-form">
            <div class="card-header">
                <h4 class="card-title text-center text-white ">Bienvenido!</h4>
            </div>
            <div class="card-body text-center">
                <form #formLogin="ngForm" (submit)="onLogin()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-at"></i></span>
                        </div>
                        <input [(ngModel)]="email" type="email" id="email" name="email" class="form-control"
                            placeholder="Correo" required>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-key"></i></span>
                        </div>
                        <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control"
                            placeholder="Contraseña" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success"><span class="fa fa-sign-in"></span>
                            Iniciar sesión</button>
                    </div>
                    <!-- <div class="form-group" id="social">
                        <label>Ó, puedes Iniciar sesión con:</label>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" (click)="onLoginFacebook()">
                                <span class="fa fa-facebook"></span>
                                Facebook
                            </button>
                            <button class="btn btn-outline-danger" (click)="onLoginGoogle()">
                                <span class="fa fa-google"></span>
                                Google
                            </button>
                        </div>
                    </div>-->
                </form>
            </div>
        </div>
    </div>
</div>